@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  80% {
    transform: translateY(0.2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  80% {
    transform: translateY(-0.2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  80% {
    transform: translateY(-0.2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #FFF;
}

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2.5rem;
}
.heading-primary--main {
  display: block;
  margin-bottom: 1.5rem;
  font-size: clamp(2rem, min(5vw, 9vh), 10rem);
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveFromLeft 1s ease-in-out;
}
.heading-primary--sub {
  display: block;
  font-size: clamp(1rem, min(2vw, 2.1vh), 5rem);
  font-weight: 400;
  letter-spacing: 0.7rem;
  animation: moveFromRight 1s ease-in-out;
}

.code-editor,
.line-counter {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0.3rem;
}

.line-counter {
  font-weight: bold;
  text-align: right;
}

.code-box {
  color: #000;
}

.heading-secondary {
  padding-top: min(min(6vw, 6vh), 8rem);
  display: inline-block;
  color: #FFF;
  letter-spacing: 1rem;
  font-size: clamp(2rem, min(3.2vw, 3.2vh), 6.5rem);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s;
}
.heading-secondary:hover {
  letter-spacing: 1.3rem;
  transform: skewX(-20deg) skewY(-1deg);
  background-image: linear-gradient(to right, #b450bf, #fbc574);
  -webkit-background-clip: text;
  text-decoration: underline;
  color: transparent;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1rem, min(3vw, 3.1vh), 6.5rem);
}

.paragraph {
  font-size: 1.6rem;
  font-size: clamp(1rem, min(2vw, 2vh), 5rem);
}
.paragraph:not(:last-child) {
  margin-bottom: min(max(4vh, 4vw), 8rem);
}

.heading-calculator {
  border: magenta solid 0.1rem;
  background-color: #000;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(2rem, min(3.2vw, 3.2vh), 6.5rem);
  color: #FFF;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: max(0.5vw, 0.5vh);
  margin-bottom: min(max(0.5vh, 0.5vw), 8rem);
}

.u-margin-bottom-med {
  margin-bottom: max(3vw, 3vh);
  margin-bottom: min(max(3vh, 3vw), 8rem);
}

.u-margin-bottom-med {
  margin-bottom: max(5vw, 5vh);
  margin-bottom: min(max(5vh, 5vw), 8rem);
}

.btn:link, .btn:visited {
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 2.2rem);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
}
.btn:hover {
  color: #000;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  color: #444;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--white {
  background-color: rgba(255, 255, 255, 0.477);
  color: #444;
  transition: all 0.2s;
  position: relative;
}
.btn--white::after {
  background-color: #FFF;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveFromBottom 1s ease-in-out;
  animation-fill-mode: backwards;
}
.btn--calculator {
  margin: 1.5rem auto;
  border: 0.01rem solid rgba(255, 0, 255, 0.3);
}

.composition {
  position: relative;
}
.composition__photo {
  object-fit: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  position: absolute;
  z-index: 9;
  transition: all 0.2s;
}
@media (max-width: 50rem) {
  .composition__photo {
    width: 12em;
    height: 12em;
  }
  .composition__photo--p1 {
    left: -2rem;
    top: 2rem;
  }
  .composition__photo--p2 {
    left: 9rem;
    top: 1rem;
  }
  .composition__photo--p3 {
    left: -4rem;
    top: 17rem;
  }
  .composition__photo--p4 {
    left: 7rem;
    top: 16rem;
  }
}
@media (min-width: 50rem) and (max-width: 110rem) {
  .composition__photo {
    width: 17em;
    height: 17em;
  }
  .composition__photo--p1 {
    left: 1rem;
    top: 3rem;
  }
  .composition__photo--p2 {
    left: 17rem;
    top: 2rem;
  }
  .composition__photo--p3 {
    left: -1rem;
    top: 24rem;
  }
  .composition__photo--p4 {
    left: 15rem;
    top: 23rem;
  }
}
@media (min-width: 110rem) {
  .composition__photo {
    width: 22em;
    height: 22em;
  }
  .composition__photo--p1 {
    left: 1rem;
    top: -1rem;
  }
  .composition__photo--p2 {
    left: 22rem;
    top: -2rem;
  }
  .composition__photo--p3 {
    left: -1rem;
    top: 25rem;
  }
  .composition__photo--p4 {
    left: 20rem;
    top: 24rem;
  }
}
.composition__photo:hover {
  outline: 0.1rem solid magenta;
  outline-offset: 2rem;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.code-editor,
.line-counter {
  height: 50vh;
}

.code-editor {
  width: 94%;
  border: 0.1rem solid magenta;
  border-bottom-right-radius: 2em;
}

.line-counter {
  width: 6%;
  border: 0.1rem solid magenta;
  border-right: 0.1rem solid #000;
  border-bottom-left-radius: 2rem;
}

@media (max-width: 40px) {
  .code-box {
    margin: 0;
  }
}
@media (max-width: 105rem) and (min-width: 40rem) {
  .code-box {
    margin: 0 max(2vh, 2vw) 0 max(2vh, 2vw);
  }
}
@media (min-width: 105rem) {
  .code-box {
    margin: 0 auto;
    width: 160rem;
  }
}
.code-box:hover .code-editor, .code-box:hover .line-counter {
  border: 0.1rem solid magenta;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.code-box:focus-within .code-editor, .code-box:focus-within .line-counter {
  border: 0.1rem solid magenta;
  outline: rgba(255, 255, 255, 0.5) solid 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vw;
}
.header {
  display: block;
  height: 93vh;
  position: relative;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.99)), url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  clip-path: polygon(0% 0, 100% 0, 100% 88%, 0 100%);
}
@media (max-width: 40px) {
  .header {
    margin: 0;
  }
}
@media (max-width: 105rem) and (min-width: 40rem) {
  .header {
    border: 0.1rem solid magenta;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: max(2vh, 2vw) max(2vh, 2vw) 0 max(2vh, 2vw);
  }
}
@media (min-width: 105rem) {
  .header {
    border: 0.1rem solid magenta;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 3vw auto;
    margin-bottom: 0;
    width: 160rem;
  }
}
.header__logo-box-1 {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 1.3rem;
  animation: moveFromTop 1s ease-in-out;
}
.header__logo-box-2 {
  position: absolute;
  top: 4.5rem;
  left: 3.1rem;
  animation: moveFromBottom 1s ease-in-out;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  padding-top: 10vh;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.code {
  height: 93vh;
  text-align: center;
}

.section-about {
  padding: clamp(8rem, 2vh, 10rem) clamp(2rem, 2vw, 8rem);
  height: 93vh;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.99));
  clip-path: polygon(0% 12%, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 40rem) {
  .section-about {
    margin: 0;
    margin-top: -11vh;
    border-bottom: magenta solid 0.1rem;
  }
}
@media (max-width: 105rem) and (min-width: 40rem) {
  .section-about {
    margin: -11vh max(2vh, 2vw) 0 max(2vh, 2vw);
    border: magenta solid 0.1rem;
    border-top: none;
  }
}
@media (min-width: 105rem) {
  .section-about {
    margin: 0 auto;
    margin-top: -11vh;
    width: 160rem;
    border: magenta solid 0.1rem;
    border-top: none;
  }
}

.section-tutorials {
  height: 93vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.99));
}
@media (max-width: 40rem) {
  .section-tutorials {
    margin: 0;
    border-top: magenta solid 0.1rem;
  }
}
@media (max-width: 105rem) and (min-width: 40rem) {
  .section-tutorials {
    margin: 0 max(2vh, 2vw) 0 max(2vh, 2vw);
    border: magenta solid 0.1rem;
  }
}
@media (min-width: 105rem) {
  .section-tutorials {
    margin: 0 auto;
    width: 160rem;
    border: magenta solid 0.1rem;
  }
}
