.section-about {
  // padding: 10rem 2rem;
  padding: clamp(8rem,2vh, 10rem) clamp(2rem,2vw, 8rem);
  // text-align: center;
  height: $header-height;
  background-image: $shaded-gradient-overlay;
  clip-path: polygon(0% 12%, 100% 0, 100% 100%, 0 100%);
  @media (max-width: 40rem) {
    margin: 0;
    margin-top: -11vh;
    border-bottom: $primary-border-color solid .1rem;
  }

  @media (max-width: 105rem) and (min-width: 40rem) {
    margin: -11vh max(2vh, 2vw) 0 max(2vh, 2vw);
    border: $primary-border-color solid .1rem;
    border-top: none;
  }

  @media (min-width: 105rem) {
    margin: 0 auto;
    margin-top: -11vh;
    width: 160rem;
    border: $primary-border-color solid .1rem;
    border-top: none;
  }
  // border-bottom: none;
}

.section-tutorials{
  // height: $header-height;
  background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.99));
  @media (max-width: 40rem) {
    margin: 0;
    border-top: $primary-border-color solid .1rem;
  }

  @media (max-width: 105rem) and (min-width: 40rem) {
    margin: 0 max(2vh, 2vw) 0 max(2vh, 2vw);
    border: $primary-border-color solid .1rem;
  }

  @media (min-width: 105rem) {
    margin: 0 auto;
    width: 160rem;
    border: $primary-border-color solid .1rem;
  }


}

.section-tutorials-flex-container{
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  padding: clamp(8rem,2vh, 10rem) clamp(2rem,2vw, 8rem);
  height: $header-height;
}