.quiz-section{
  
  margin: 5vw;
  margin-top: 0;
  padding-bottom: 30vh;
  
  .question{
    padding-bottom: 2vh;
  }

  .choice-container{
    display: flex;
    justify-content:flex-start;

    border-radius: 50rem;
    width: 60vw;
    max-width: 105rem;
    

    .choice-prefix{
    font-weight: bold;
    font-size: clamp(1rem, 1.2vw, 2.2rem);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
    // border-right: .01rem solid $primary-border-color;
    }

    .choice-text{
    font-weight: bold;
    font-size: clamp(1rem, 1.2vw, 2.2rem);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: .01rem solid $primary-border-color;
    }
  }

}