.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vw;

  div.grid-item{
    // background-color: red;
    // transition: all .5s;

    // &:hover{
    //   transform: skewX(-20deg) skewY(-2deg);
    // }
    
  }
}