.header {
  display: block;
  height: $header-height;
  // border: .1rem solid $primary-border-color;
  // border-top-left-radius: 2rem;
  // border-top-right-radius: 2rem;
  // margin: max(2vh, 2vw) max(2vh, 2vw) 0 max(2vh, 2vw);
  // margin: max(2vh, 2vw) max(2vh, 2vw) 0 max(2vh, 2vw);

  // @media (max-width: 40px) {
  //   margin: 0;
  // }

  // @media (max-width: 105rem) and (min-width: 40rem) {
  //   border: .1rem solid $primary-border-color;
  //   border-bottom: none;
  //   border-top-left-radius: 2rem;
  //   border-top-right-radius: 2rem;
  //   margin: max(2vh, 2vw) max(2vh, 2vw) 0 max(2vh, 2vw);
  // }

  // @media (min-width: 105rem) {
  //   border: .1rem solid $primary-border-color;
  //   border-top-left-radius: 2rem;
  //   border-top-right-radius: 2rem;
  //   margin: 0 auto;
  //   width: 160rem;
  // }

  @media (max-width: 40px) {
    margin: 0;
  }

  @media (max-width: 105rem) and (min-width: 40rem) {
    border: .1rem solid $primary-border-color;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: max(2vh, 2vw) max(2vh, 2vw) 0 max(2vh, 2vw);
  }

  @media (min-width: 105rem) {
    border: .1rem solid $primary-border-color;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 3vw auto;
    margin-bottom: 0;
    width: 160rem;
  }

  position: relative;
  background-image: $shaded-gradient-overlay,
  url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  clip-path: polygon(0% 0, 100% 0, 100% 88%, 0 100%);

  &__logo-box-1 {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 1.3rem;
    animation: moveFromTop 1s ease-in-out;
  }

  &__logo-box-2 {
    position: absolute;
    top: 4.5rem;
    left: 3.1rem;
    animation: moveFromBottom 1s ease-in-out;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    padding-top: 10vh;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}